---
layout: wrapper
title: Homepage
---

<hr id="research">

<!-- Research -->
<h1 class="front-page-project-header">Research Experience</h1>
<p class="front-page-project-blurb">[Blurb about research experience here]</p>

<div class="front-page-project-section">
    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>Master's Thesis</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>K-Base Experiments</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>Quantum Tunneling Times</span>
    </a>
</div>

<hr id="games">

<!-- Games -->
<h1 class="front-page-project-header">Game Development</h1>
<p class="front-page-project-blurb">[Blurb about game dev experience here]</p>

<div class="front-page-project-section">
    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>Leaf Me Alone</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/transformation.png" class="front-page-project-image" alt="Transformation">
        </figure>
        <span>Transformation</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>Cursed Shadow</span>
    </a>
</div>

<hr id="projects">

<!-- Projects -->
<h1 class="front-page-project-header">Software Development</h1>
<p class="front-page-project-blurb">[Blurb about software dev experience here]</p>

<div class="front-page-project-section">
    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>Physics Bachelors Interpolation</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>[Name of 230 Project]</span>
    </a>

    <a href="#">
        <figure>
            <img src="/assets/images/games/leaf_me_alone.png" class="front-page-project-image" alt="Leaf Me Alone">
        </figure>
        <span>[Name of Bioinformatics Project]</span>
    </a>
</div>